# Node modules  
node_modules/  
npm-debug.log*  
yarn.lock  
package-lock.json  

# Environment variables  
.env  
.env.local  
.env.*.local  

# Build output  
dist/  

# Vite cache  
.vite/  

# Editor/IDE files  
.vscode/  
.idea/  
*.swp  

# OS-specific files  
.DS_Store  
Thumbs.db  
